.body_background {
    background-image:
      url("https://media3.giphy.com/media/FMsbSSjEe0N6zH7K7x/giphy-downsized-large.gif");
    background-position: center#
    background-size: cover;
  }
  
  h1 {
    color: 0D47A1;
    font-size: 40px;
  }
  
  #myCanvas {
    border-width: 10px;
    background-color: #FFFDE7;
    border-style: ridge;
  }
  
  span {
    font-size: 20px;
  }